@page
@model DevKids_v1.Areas.UserResources.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserResource</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.SectionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.SectionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.SectionOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.SectionOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.InSectionOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.InSectionOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserResource.HasCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResource.HasCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserResource?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
