@page
@model DevKids_v1.Areas.UserResources.Pages.IndexModel

@{
    ViewData["Title"] = "User Resources";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].SectionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].SectionOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].InSectionOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResource[0].HasCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserResource) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InSectionOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
