@page
@model DevKids_v1.Areas.Lecture.Pages.IndexModel
@{
    ViewData["Title"] = "Lecture";
}

<h1>@ViewData["Title"]</h1>

<h4>Project</h4>
<hr />

<div class="modal-body row">
    <div class="col-md-6">
        @{
            if (Model.ProjectResources.Count > 0)
            {
                int i = 0;
                while (Model.ProjectResources[i].SectionOrder < 1) { i++; }
                var item = Model.ProjectResources[i];
                while (i < Model.ProjectResources.Count)
                {
                    <hr />
                    var section = item.SectionOrder;
                    <div>
                        <h5>@item.SectionTitle</h5>
                    </div>
                    while (item.SectionOrder == section)
                    {
                        <div class="modal-body row">
                            <div class="col-md-11">
                                <h6>@item.Title</h6>
                            </div>
                            @if (item.FileType == DevKids_v1.MyEnum.FileTypeEnum.Resource.ToString())
                            {
                                <div class="col-md-1">
                                    <form asp-page-handler="Download" class="col-md-1" method="post">
                                        <button class="btn btn-secondary" name="Action" value="@item.FileName">Download</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-1">
                                    <form asp-page-handler="Button" class="col-md-1" method="post">
                                        <button class="btn btn-secondary" name="Action" value="@item.FileName">Play</button>
                                    </form>
                                </div>
                            }
                            
                        </div>
                        i++;
                        if (i < Model.ProjectResources.Count)
                        {
                            item = Model.ProjectResources[i];
                        }
                        else
                        {
                            break;
                        }
                    }
                }
            }
        }
    </div>
    <div class="col-md-6">
       
    </div>
</div>
<p class="result">
    @Model.Result
</p>