@page
@model DevKids_v1.Areas.Checkout.Pages.CheckoutCompleteModel
@{
    ViewData["Title"] = "Payment Confirmation";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h4>Thank you for buying!</h4>
    <h5>Product:</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.PayerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.PayerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.ProjectTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.ProjectTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.DateIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.DateIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.PaymentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.PaymentId)
        </dd>
    </dl>
</div>