@page
@model DevKids_v1.Areas.Checkout.Pages.CheckoutStartModel
@{
    ViewData["Title"] = "Checkout";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="shadow bg-gradient rounded text-light">
    <div class="box-head bg-gradient rounded">
        <h6>Dados da Curso</h6>
    </div>
    <dl class="row container-fluid" style="padding:15px">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd class="col-md-10">
            <textarea class="form-conbtrol text-light col-md-10" rows="17" style="background-color:transparent">
            @Html.DisplayFor(model => model.Project.Description)
            </textarea>
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Project.Duration)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Project.Duration)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Project.CodeLanguage)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Project.CodeLanguage)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Project.Price)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Project.Price)
        </dd>
    </dl>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.Id" />
    <input type="hidden" asp-for="Project.Name" />
    <input type="hidden" asp-for="Project.Price" />
    <input type="hidden" asp-for="Project.Description" />
    <input type="hidden" asp-for="Project.CodeLanguage" />
    <input type="hidden" asp-for="Project.TeachLanguage" />
    <input type="hidden" asp-for="Project.Duration" />
    <input type="hidden" asp-for="Project.IsOpenToVote" />
    <input type="hidden" asp-for="Project.IsActive" />

</form>
<div class="form-group">
    <input type="submit" value="Compre com PayPal" class="btn btn-primary" />
</div>

<div class="space">
    <a asp-area="" asp-page="./Index">Voltar para a página inicial</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

